@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Band Tracker</h1>
  <hr />
  <div class="well">
    <h2><a href="/bands">View Bands</a></h2>
    <h2><a href="/venues">View Venues</a></h2>
  </div>
</div>
