@{
  Layout = "_Layout";
}

<h1>Band Tracker</h1>
<hr />

<h3>Your data has been recorded!</h3>

<p><a href="/bands">List of Bands</a></p>
<p><a href="/venues">List of Venues</a></p>

<h4><a href="/">Return to Home</a></h4>
