@{
  Layout = "_Layout";
}

<h1>Band Tracker</h1>
<h2>Add a new Venue</h2>
<hr>
<form action="/venues/new" method="post">
  <label for="venue-venueName">Venue Name:</label>
  <input id="venue-venueName" name="venue-venueName" type="text" required>
  <button type="submit">Add new venue</button>
</form>

<h4><a href="/">Return to Home</a></h4>
